OPENAI_API_KEY=put your openai api key here
LLM_MODEL=put your llm model here
LLM_TEMPERATURE=put your llm temperature here

# Jira Credentials
JIRA_DOMAIN=put your jira domain here
JIRA_EMAIL=put your jira email here
JIRA_API_TOKEN=put your jira api token here

# Git Credentials (For the bot to clone/branch)
GIT_PROVIDER=put your git provider here
GIT_USERNAME=put your git username here
GIT_APP_PASSWORD=put your git app password here


# The Repository Telofix will clone and fix
TARGET_REPO_URL=github.com/username/Telofix.git
GIT_USERNAME=put your github username here

# The branch that contains your Java Spring Boot demo code
TARGET_REPO_BRANCH=put your branch name here on which you want to fix

# Kafka configs
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TASKS=telofix-tasks

# Redis configs
REDIS_HOST=put your redis host here
REDIS_PORT=put your redis port here
REDIS_PASSWORD=put your redis password here
